/** VARIABLES */
/** colors */
/** fonts */
/** MIXINS */
/** base mixins*/
/** individual mixnis */
/** GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: 14px;
}

.main_container {
  max-width: 940px;
  left: 0;
  right: 0;
  margin: auto;
}

.row_space {
  margin-bottom: 50px;
}

/** MAIN */
/** header navigation */
.logo_navigation {
  padding-top: 50px;
}

.logo {
  font-size: 25px;
  font-family: 'Pacifico';
  color: #fed136;
}

.navigation {
  padding: 0;
}

.navigation ul {
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  padding-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans";
  color: white;
}

/** splash */
.splash {
  position: relative;
  height: 900px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75)), url("/images/men_accesories.jpg");
  background-position: center center;
  background-size: cover;
}

.splash .splash_inner {
  padding-top: 205px;
  text-align: center;
}

.splash .splash_inner .welcome_text {
  font-weight: 100;
  font-family: "Roboto Slab";
  font-style: italic;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

.splash .splash_inner h1 {
  padding: 50px 0;
  font-size: 75px;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: white;
}

.splash .splash_inner .btn {
  font-size: 18px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  background: #fed136;
}

/** services */
.services {
  text-align: center;
  padding-bottom: 120px;
}

.services .section_title h2 {
  padding-top: 120px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}

.services .section_title p {
  margin-bottom: 120px;
  text-align: center;
  font-weight: 100;
  font-family: "Roboto Slab";
  font-style: italic;
}

.services .services_box {
  font-family: "Montserrat";
}

.services .services_box h3 {
  font-size: 18px;
  font-weight: 600;
}

.services .services_box p {
  font-size: 14px;
  font-weight: 200;
  text-align: justify;
}

.services .services_box i {
  font-size: 50px;
  padding-bottom: 15px;
  color: #fed136;
}

/** our portfolio */
.portfolio {
  background: #f7f7f7;
  padding-bottom: 120px;
}

.portfolio .section_title h2 {
  padding-top: 120px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #0e0e0e;
}

.portfolio .section_title p {
  margin-bottom: 120px;
  text-align: center;
  font-weight: 100;
  font-family: "Roboto Slab";
  font-style: italic;
}

.portfolio .portfolio_box {
  text-align: center;
}

.portfolio .portfolio_box img {
  width: 100%;
}

.portfolio .portfolio_box .portfolio_inner {
  padding: 25px 0;
  font-family: "Roboto Slab";
  background: white;
  font-weight: 300;
}

.portfolio .portfolio_box .portfolio_inner h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio .portfolio_box .portfolio_inner p {
  font-style: italic;
  text-transform: capitalize;
}

/** page footer */
.page_footer {
  padding: 50px 0;
}

.page_footer .copyright {
  font-family: "Montserrat";
  font-size: 14px;
}

.page_footer .copyright p {
  margin: 0;
  padding-top: 10px;
}

.page_footer .social_media {
  color: white;
}

.page_footer .social_media i {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  background: #0e0e0e;
}

.twitter_hover:hover {
  color: #01aced;
}

.facebook_hover:hover {
  color: #3b5998;
}

.pinterest_hover:hover {
  color: #d0353c;
}

.google_hover:hover {
  color: #da2713;
}

/** MEDIA QUERIES */
@media (max-width: 575px) {
  .navigation_sm {
    padding-right: 15px;
  }
  .box_space {
    margin-bottom: 40px;
  }
  .services_box p {
    padding: 0 60px;
  }
  .splash_sm {
    max-height: 770px;
  }
  .welcome_text_sm {
    font-size: 25px !important;
  }
  .h1_text_sm {
    font-size: 55px !important;
    padding: 0 60px !important;
  }
  .copyright_sm {
    padding-left: 60px;
  }
}
/*# sourceMappingURL=style.css.map */