/** VARIABLES */

/** colors */
$leading-color: rgb(254, 209, 54);
$section-color: rgb(247, 247, 247);
$text-white-color: rgb(255, 255, 255);

/** fonts */
$section-font: 'Montserrat';
$text-font: 'Roboto Slab';
$deco-font: 'Open Sans';



/** MIXINS */

/** base mixins*/
@mixin section-title {
  h2 {
    padding-top: 120px;
    font-size: 40px;
    font-family: $section-font;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: rgb(14, 14, 14);
  }

  p {
    margin-bottom: 120px;
    text-align: center;
    font-weight: 100;
    font-family: $text-font;
    font-style: italic;
  }
}

/** individual mixnis */





/** GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $text-font;
  font-size: 14px;
}

.main_container {
  max-width: 940px;
  left: 0;
  right: 0;
  margin: auto;
}

.row_space {
  margin-bottom: 50px;
}

/** MAIN */


/** header navigation */
.logo_navigation {
  padding-top: 50px;
}

.logo {
  font-size: 25px;
  font-family: 'Pacifico';
  color: $leading-color;
}

.navigation {
  padding: 0;

  ul {
    padding: 0;
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;

      a {
        padding-left: 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $deco-font;
        color: $text-white-color;
      }
    }
  }
}

/** splash */
.splash {
  position: relative;
  height: 900px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.75)),url('/images/men_accesories.jpg'),;
  background-position: center center;
  background-size: cover;

  .splash_inner {
    padding-top: 205px;
    text-align: center;

    .welcome_text {
      font-weight: 100;
      font-family: $text-font;
      font-style: italic;
      font-size: 40px;
      text-transform: uppercase;
      color: $text-white-color;
    }

    h1 {
      padding: 50px 0;
      font-size: 75px;
      font-weight: 700;
      font-family: $deco-font;
      text-transform: uppercase;
      color: $text-white-color;
    }

    .btn {
      font-size: 18px;
      font-family: $section-font;
      text-transform: uppercase;
      color: $text-white-color;
      background: $leading-color;
    }
  }
}

/** services */
.services {
  text-align: center;
  padding-bottom: 120px;

  .section_title {
    @include section-title;
  }

  .services_box {
    font-family: $section-font;

    h3 {
      font-size: 18px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      font-weight: 200;
      text-align: justify;
    }

    i {
      font-size: 50px;
      padding-bottom: 15px;
      color: $leading-color;
    }
  }
}

/** our portfolio */
.portfolio {
  background: $section-color;
  padding-bottom: 120px;
  .section_title {
    @include section-title;
  }

  .portfolio_box {
    text-align: center;

    img {
      width: 100%;
    }

    .portfolio_inner {
      padding: 25px 0;
      font-family: $text-font;
      background: $text-white-color;
      font-weight: 300;

      h3 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        font-style: italic;
        text-transform: capitalize;
      }
    }
  }
}
